# Proxmox Host
PROXMOX_HOST=192.168.1.100
PROXMOX_PORT=8006
PROXMOX_VERIFY_SSL=false

# API Token (erstellen unter Datacenter > Permissions > API Tokens)
# Format: user@realm!tokenid
PROXMOX_TOKEN_ID=root@pam!deploy
PROXMOX_TOKEN_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

APP_SECRET=change-this-to-a-random-string
